[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm Community Edition
Icon=/usr/local/pycharm/bin/pycharm.svg
Exec="/usr/local/pycharm/bin/pycharm.sh" %f
Comment=Python IDE for Professional Developers
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-pycharm-ce
StartupNotify=true
