 #!/usr/bin/env xdg-open
[Desktop Entry]
Name=Pomodoro Timer
GenericName=Pomodoro
Exec=/opt/google/chrome/google-chrome --app=https://pomofocus.io
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=/home/atai/.local/share/icons/pomodoro.png
Categories=Network;Application;
Keywords=focous;timer;pomodoro;productivity;work;webapp;
X-Ubuntu-Gettext-Domain=Pomodoro
StartupWMClass=pomofocus.io
